/* ---------- FONT ---------- */
@font-face {
    font-family: 'OptimusPrinceps';
    src: url('OptimusPrinceps.woff2') format('woff2'),
        url('OptimusPrinceps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OptimusPrinceps, serif ;  
}

/* ---------- SCROLL BAR ---------- */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background-color: black;
}
 

::-webkit-scrollbar-button{
    background: #322E2D; 
    color: black;
}

::-webkit-scrollbar-thumb {
    background: #43484E; 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: white; 
}


main, body{
    background-image: linear-gradient(to right,#838E88,#43484E,#322E2D, black, black, black, black, black, black, black,
     black, black, black, black, #322E2D,#43484E,#838E88);
}

footer{
    float: bottom;
    margin: 0;
    padding: 0;
}

header{
    display: block;
}

/* ---------- NAVBAR NEL HEADER ---------- */
.header-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,black,#322E2D,#43484E ,#43484E,#838E88,#838E88
        ,#43484E,#43484E,#322E2D,black);
}

    
.navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    text-align: center;
} 


.navbar-left a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding:16px;
    float: left;

}

.navbar-left a:hover {
  background-color: white;
  color: black;
}

.navbar-left a.active {
  background-color: #56220C;
  color: white;
}

/* ---------- SEZIONE LOGIN NEL NAVBAR ---------- */
.login-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar input[type=text], input[type=password] {
    padding: 12px;
    font-size: 17px;
    width: 150px; 
    border-radius: 5px;
    border: none;

}

.navbar .login-container button {
  padding: 12px 10px;
  margin-right: 16px;
  background: #56220C;
  color: white;
  font-size: 17px;
  border: none;

}

.navbar .login-container button:hover {
  background-color: white;
  color: black;
}

.home-seleziona{
    margin-block: 60px;
    font-size: 50px;
}


/* ---------- SEZIONI HOMEPAGE ---------- */
.titolo{
    font-size: 50px;
}

.sottotitolo{
    margin-top: 5px;
    font-size: 20px;
}

.home-seleziona{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.ultime-aggiunte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-home{
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.ultime-aggiunte .img-home:hover{
      transform: scale(1.25);  
}

.ost-popolare{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ost-popolare .img-home:hover{
      transform: scale(1.25);  
}

.disclaimer{
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 5px;
}

.extra-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 25px;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.img-collab{
    border-radius: 25px;
    object-fit: cover;
    display: block;
}

.collab{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.collab-1, .collab-2, .collab-3, .collab-4{
    border-radius: 25px;
    box-shadow: 5px 4px 6px #838E88;
}

/* ---------- CONTENITORE GIOCHI NELLA HOMEPAGE ---------- */
.games-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5px;
}

.game-image {
    border-radius: 10px;
    position: relative;
    width: 270px; 
    height: 540px;
    overflow: hidden;
    padding: 5px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.game-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Ritaglia immagine per riempire il contenitore*/
    transition: transform 0.3s ease;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* colore di sfondo, nero, trasparente */
    color: white;
    width: 100%;
    text-align: center;
    display: none; /* inizialmente il testo non è visibile */
}

.game-image:hover .overlay {
  display: block;
}

.game-image:hover img {
  transform: scale(1.25); /* ingrandisce l'immagine del 25% */

}

label{
    font-size: 25px;
}


/* ---------- OVERLAY - COLLEZIONE ---------- */
/* ---------- FILTRI ---------- */
.filtraPer{
    font-size: 35px;
}

.filtriOverlay-container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-evenly;
}

.filtriOverlay-container .filtriGioco a{
   font-size: 22px;
}

.filtriOverlay-container .filtriGenere a{
   font-size: 22px;
}
.filtriOverlay-container .filtriPopolare a{
   font-size: 22px;
}

.filtriGioco, .filtriGenere , .filtriPopolare{
    padding: 5px 40px;
}

/* ---------- BARRA DI RICERCA ---------- */
.search-container {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin-bottom: 40px;
}

.search-container input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
}

.search-container button {
    padding: 10px;
    background-color: #56220C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 18px;
}

.search-container button:hover {
    background-color: white;
    color: black;
}
/* titolo pagina collezione "collezione delle ost" */
.page-title {
    text-align: center;
    font-size: 40px;
    margin: 20px 0px;
    color: white;
}

/* ---------- GRIGLIA DEGLI ITEM ---------- */
.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.ost-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    transition: transform 0.3s ease-in-out;
}

.ost-item:hover .overlay {
  display: block;

}

.ost-item:hover {
    transform: scale(1.08);
}

.ost-item img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.ost-item p {
    color: white;
    font-weight: bold;
    margin: 2px 0px;
}

a:hover{
    text-decoration: none;
}

.nome-ost, .titolo-gioco{
    font-size: 26px;
    justify-content: center;

}

.provenienza-ost{
    font-size: 13px;
    justify-content: center;
    text-justify: auto;
}

/* ---------- PULSANTE DEI FILTRI E RICERCA ---------- */
#HoverButton a{
    z-index: 1;
    position: fixed; 
    left: -66px;
    transition: 0.3s;
    margin-top: 10px;
    padding: 15px;
    width: 110px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 0 20px 20px 0;
    text-align: right;
}

#HoverButton a:hover {
    left: 0;
}

/
#filtra {
    top: 20px;
    background-color: white;
 }


/* ---------- OVERLAY (bg) ---------- */
.sideOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; /* Disabilita scroll orizzontale */
    transition: 0.5s;
}

/* contenuto overlay (div), non il contenitore*/
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white;
}


.sideOverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideOverlay a:hover, .overlay a:focus {
    color: white;
}

/* Bottone per chiudere */
.sideOverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* contenitore degli elementi nell'oevrlay*/
.overlay-container{
    display: flex;
    flex-direction: column;
}

.paginazione{
    margin: 20px;
    text-align: center;
}
.paginazione a {
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.numero-pagina{
    color: white;
}

.paginazione a:hover {
    color: white;
}

.previous{
    background-color: #56220C;
    color: black;
    border-radius: 50%;
}

.next{
    background-color:  #56220C;
    color: black;
    border-radius: 50%;
}

/* ---------- PULSANTE TORNA SU ---------- */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: white;
  color: black;
}


/*----- PAGINA ITEM-----*/
/*----- Briciole di pane-----*/
ul.breadcrumb {
    float: left;
    padding: 10px 16px;
    list-style: none;
    color: white;
    background-color: black;
}

/* Disponi elementi in fila - fianco a fianco */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Simbolo (/) tra gli elementi */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #823E21;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: white;
  text-decoration: underline;
}


.titolo-brano{
    font-size: 50px;
    margin-top: 15px;
    padding-top: 30px;
    text-align: center;
    color: #838E88;

}

/*----- CONTAINER MEDIA-----*/
.media-container {
    height: 90vh; /* Occupa l'90% dell'altezza dello schermo */
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly; /* Spazio equidistante sopra e sotto*/
    align-items: flex-start; /* Allinea items a sinistra, inizio scatola */
    padding-left: 20px;


}

/*----- ELEMENTI VIDEO E AUDIO-----*/
video::-webkit-media-controls {
    display: none !important;  
}

#videoPlayer{
    box-shadow: 5px 4px 6px #838E88;
}

audio::-webkit-media-controls-panel {
    background-color: #838E88;  
}

video, audio {
    width: 55%; 
    cursor: pointer;
    border-radius: 10px;
}

/*----- Container comunity-----*/
.comunity{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
}

.fa {
  font-size: 25px;
  cursor: pointer;
}

.checked {
  color: #823E21;
}

.unchecked{
    color: white;
}

#notificaLogin{
    font-size: 20px;
}

.notifica {
    position: fixed;
    bottom: -100px; /* Partenza dalla parte inferiore fuori dallo schermo */
    left: 50%;
    transform: translateX(-50%);
    background-color: #322E2D;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    z-index: 9999;
    transition: bottom 0.5s ease-in-out; /* Animazione per far apparire la notifica */
}


.notifica.show {
    bottom: 20px; /* Spostamento verso l'alto */
}



.collapsible {
  background-color: #43484E;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 60%; 
  max-width: 1000px; 
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  font-weight: bold;
  margin: 10px auto 0px auto; 
  display: block;
}


.attivo, .collapsible:hover {
  background-color: white;
  color: black;
}

.collapsible:after {
  content: '\25B2'; /* Codice simbolo per espandere / rimpicciolire (freccia) */
  font-size: 26px;
  color: black;
  float: right;
  margin-left: 5px;
}

.attivo:after {
  content: "\25BC";
}

/* Contenuto collapsible */
.contenuto-descrizione {
  padding: 0 18px;
  background-color: #838E88;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.contenuto-descrizione.expanded {
  max-height: 1200px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 15px;
  
}


.descrizione {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: black;
    align-items: center;
}

/*tabella metadata */
.metadata-table {
    width: 100%;
    border-collapse: collapse; /*rimuovi spazi tra le celle */
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.metadata-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd; 
}

/* Zebra-striped table */
.metadata-table tr:nth-child(even) {
  background-color: #838E88; /* Colore di sfondo per le righe pari */
  color: black;
}

.metadata-table tr:nth-child(odd) {
  background-color: #322E2D; /* Colore di sfondo per le righe dispari */
  color: white;
}

.metadata-table td strong {
  font-weight: bold;
}


/* ----- FOOTER ----- */
.footer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
    font-weight: bold;
    gap: 20px;
}

.social{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,black, #838E88, black) ;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.link-social{
    display: flex; 
}

.nome-social{
    padding-top: 5px;
    font-size: 20px;
}

footer .fa {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    text-align: left;
}


.fa-facebook:hover {
    color: #1877F2;
}
.fa-youtube:hover {
    color: #CD201F;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-instagram:hover {
    color:  #c13584;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    color: white;
}

.contatti{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, black,#838E88, black) ;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.link-contatti{
    display: flex; 
    font-size: 20px;
    gap: 15px;
}

.altri-link{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,black, #838E88, black) ;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.project-link{
     text-decoration: none;
     color: black;
}

.project-link:hover{
    color: #823E21;
}

/* ---------- PROJECT PLAN ---------- */
#pagina-plan{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 15%;
    font-size: 20px;
    line-height: 1.8;
}


#sidenav-plan {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

#sidenav-plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidenav-plan a {
    display: block;
    margin-top: 10px;
    padding: 12px;
    width: 120px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #322E2D;
    border: solid black 2px;
    border-radius: 0 20px 20px 0;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    transition: 0.3s;
}

#sidenav-plan a:hover {
    background-color: white;
    color: black;
}



h2{
    margin-top: 60px;
    color:#823E21;
}

h3{
    margin-top: 40px;
    color: #56220C;

}

h3 a{
    text-decoration: none;
    color: #823E21;
}

p a{
    text-decoration: none;
    color: #823E21;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #838E88;
}

.layout-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne uguali */
    justify-items: center; /* Orizzontalmente */
    align-items: center; /* Verticalmente */
    gap: 10px;
}

.layout-images label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#struttura img{
    border: 1px solid black;
    border-radius: 8px;
}

.layout-images img {
    max-width: 100%; /* Contenuto scala col contenitore */
    height: auto; /* Mantiene l'aspetto */
    border: 1px solid black;
    border-radius: 8px;
}


/*-----MEDIA QUERY-----*/
@media (max-width: 992px) {
     .game-image {
        position: relative;
        width: 450px; 
        height: 250px;
        overflow: hidden;
        padding: 5px;
        transition: transform 0.3s ease;
    }

    .games-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

      .media-container {
        width: 100vw; /* Più largo su schermi piccoli */
        height: 100vh;
        margin: 0;
        padding: 5px;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        background-size: cover;
    }

    video, audio {
        width: 100%;
        border-radius: 20px;
        padding: 1%;
          
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .link-contatti, .link-social{
        font-size: 15px;
    }

        .collab{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}

#sidenav-plan a {
    z-index: 1;
    position: relative; 
    display: block;
    left: -66px;
    transition: 0.3s;
    padding: 15px;
    width: 110px; 
    text-decoration: none;
    font-size: 20px;
    color: white; 
    background-color: black;
    border-radius: 0 20px 20px 0;
    text-align: right;
}

#sidenav-plan a:hover {
    left: 0;
    }
}


@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
        padding-bottom: 10px;
    }   

    .navbar-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
    }

    .login-container {
        display: flex;
        flex-direction: column ;
        align-items: center;
    }


    .game-image {
        position: relative;
        width: 450px; 
        height: 150px;
        overflow: hidden;
        padding: 5px;
        transition: transform 0.3s ease; 
    }

    .games-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .filtriOverlay-container{
        display: flex;
        flex-direction: column;
    }

    .filtriGioco{
        padding: 30px 0px;
    }

     .filtriGenere{
        padding: 30px 0px;
    }

     .filtriPopolare{
        padding: 30px 0px;
    }
}

@media (min-width: 1200px) {
  .game-image {
    width: calc(100% / 7); /* Aumenta la larghezza delle immagini per riempire lo spazio disponibile */
    height: auto; 
  }
}

@media (max-width: 1200px){
     .footer-container {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .link-contatti, .link-social{
        font-size: 20px;
    }


}

@media (max-width: 678px) {
    .ultime-aggiunte{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        font-size: 30px;
    }


     .ost-popolare{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        font-size: 30px;
    }


    .media-container {
        width: 100vw; 
        height: 100vh;
        margin: 0;
        padding: 5px;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        background-size: cover;
    }

    video, audio {
        width: 100%;
        border-radius: 10px;
        padding: 1%;      
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .collapsible, .contenuto-descrizione {
    width: 80%; 
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .link-contatti, .link-social{
        font-size: 15px;
    }


    .collab{
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex-wrap: wrap;   
    }

    #sidenav-plan a {
        z-index: 1;
        position: relative; 
        display: block;
        left: -66px; /* Position them outside of the screen */
        transition: 0.3s; /* Add transition on hover */
        padding: 15px; /* 15px padding */
        width: 110px; /* Set a specific width */
        text-decoration: none; /* Remove underline */
        font-size: 20px; /* Increase font size */
        color: white; /* White text color */
        background-color: black;
        border-radius: 0 20px 20px 0; /* Rounded corners on the top right and bottom right side */
        text-align: right;
    }

    #sidenav-plan a:hover {
        left: 0;
    }

    .sideOverlay {
        background-color: rgb(0,0,0);
    }
}